---
layout: default
---

<div class="name centered">
    <h1>Ed Turner</h1>

      <div class="type-wrap">
        <div id="typed-strings" style="display: none;">

            <p>Digital marketer</p>
            <p>Web developer</p>
            <p>Maker of stuff</p>

        </div>
        <span id="typed" style="white-space:pre;"></span>
      </div>
        <a class="links" target="_blank" href="https://www.linkedin.com/in/ed-turner-98a77114/">on LinkedIn</a>
        <a class="links" target="_blank" href="http://www.twitter.com/edturnuh">on Twitter</a>
        <a class="links" target="_blank" href="http://www.instagram.com/edturnuh">on Instagram</a>
        <a class="links" target="_blank" href="https://www.producthunt.com/@edturnuh">on Product Hunt</a>
        <a class="links" target="_blank" href="mailto:edward_turner@hotmail.co.uk">via Email</a>
</div>

<script>
    var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 30,
        backSpeed: 15,
        backDelay: 1000,
        startDelay: 800,
        loop: true,
        onComplete: function(self) { console.log('onCmplete ' + self) },
        preStringTyped: function(pos, self) { console.log('preStringTyped ' + pos + ' ' + self); },
        onStringTyped: function(pos, self) { console.log('onStringTyped ' + pos + ' ' + self) },
        onLastStringBackspaced: function(self) { console.log('onLastStringBackspaced ' + self) },
        onTypingPaused: function(pos, self) { console.log('onTypingPaused ' + pos + ' ' + self) },
        onTypingResumed: function(pos, self) { console.log('onTypingResumed ' + pos + ' ' + self) },
        onReset: function(self) { console.log('onReset ' + self) },
        onStop: function(pos, self) { console.log('onStop ' + pos + ' ' + self) },
        onStart: function(pos, self) { console.log('onStart ' + pos + ' ' + self) },
        onDestroy: function(self) { console.log('onDestroy ' + self) }
      });

</script>
