---
layout: default

---

<div class="name centered">
    <h1>{{ page.title }}</h1>

      <div class="type-wrap">
        <div id="typed-strings" style="display: none;">

            <p>{{ page.bullet-1 }}</p>
            <p>{{ page.bullet-2 }}</p>
            <p>{{ page.bullet-3 }}</p>

        </div>
        <span id="typed" style="white-space:pre;"></span>
      </div>
        <a class="links" target="_blank" href="{{ page.social-link-1 }}">{{ page.social-text-1 }}</a>
        <a class="links" target="_blank" href="{{ page.social-link-2 }}">{{ page.social-text-2 }}</a>
        <a class="links" target="_blank" href="{{ page.social-link-3 }}">{{ page.social-text-3 }}</a>
        <a class="links" target="_blank" href="{{ page.social-link-4 }}">{{ page.social-text-4 }}</a>
        <a class="links" target="_blank" href="{{ page.social-link-5 }}">{{ page.social-text-5 }}</a>
</div>

<script>
    var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 30,
        backSpeed: 15,
        backDelay: 1000,
        startDelay: 800,
        loop: true,
        onComplete: function(self) { console.log('onCmplete ' + self) },
        preStringTyped: function(pos, self) { console.log('preStringTyped ' + pos + ' ' + self); },
        onStringTyped: function(pos, self) { console.log('onStringTyped ' + pos + ' ' + self) },
        onLastStringBackspaced: function(self) { console.log('onLastStringBackspaced ' + self) },
        onTypingPaused: function(pos, self) { console.log('onTypingPaused ' + pos + ' ' + self) },
        onTypingResumed: function(pos, self) { console.log('onTypingResumed ' + pos + ' ' + self) },
        onReset: function(self) { console.log('onReset ' + self) },
        onStop: function(pos, self) { console.log('onStop ' + pos + ' ' + self) },
        onStart: function(pos, self) { console.log('onStart ' + pos + ' ' + self) },
        onDestroy: function(self) { console.log('onDestroy ' + self) }
      });

</script>
